@use '../../css/variables.scss';

.fee-credit-section {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__body {
    display: flex;
    gap: 12px;
  }

  &__header {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_btn {
      gap: 8px;
      height: 24px;
      &-icon {
        fill: variables.$color-primary;
      }
      &:hover {
        color: white;
      }

      &:hover path {
        fill: white
      };
    }
  }
}