@use '../../css/variables';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 12px;
  font-weight: variables.$font-weight-semibold;
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
  border: none;
  cursor: pointer;

  &:active {
    transform: scale(.9);
  }

  &--icon {
    padding: 0;
    color: variables.$color-primary;

    &:active {
      transform: scale(.9);
    }

  }

  &:hover path{
    fill: variables.$color-white;
  }

  &:disabled {
    pointer-events: none !important;
    cursor: unset !important;
  }

  &.button--small {
    height: 30px;
  }

  &.button--x-small {
    height: 20px;
    font-size: 14px;
    padding: 6px;
  }

  &.is--rounded {
    border-radius: 4px;
    height: 100%;
    aspect-ratio: 1;
  }
}

.button__group {
  width: 100%;
  display: flex;

  button {
    margin-right: 8px;

    &.button--block {
      width: calc(50% - 4px);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.button--primary {
  background-color: variables.$color-primary;
  color: variables.$color-blue;

  &.is--active {
    background-color: variables.$color-blue;
  }

  &:hover {
    opacity: 1;
    background: variables.$color-primary-hover;
    color: variables.$color-white;

    &.is--active {
      background-color: variables.$color-blue;
    }
  }

  &:disabled {
    background-color: #0A8F9E
  }
}

.button--secondary {
  color: variables.$color-primary;
  background-color: rgba(variables.$color-white, 0.15);

  &.is--active {
    background-color: variables.$color-blue;
  }

  &:hover {
    opacity: 1;
    background-color: variables.$color-primary;
    box-shadow: none;
    color: white;

    &.is--active {
      background-color: variables.$color-blue;
    }
  }

  &:hover .icon-btn path {
    fill: variables.$color-blue;
  }
}

.button--third {
  color: currentcolor;
  background-color: variables.$color-blue;

  &:hover {
    opacity: 1;
    background-color: variables.$color-secondary;
    box-shadow: none;
    color: white;

    &.is--active {
      background-color: variables.$color-blue;
    }
  }
}

.button--link {
  background: transparent;
  color: variables.$color-link;
  height: auto;
  padding: 0;
  white-space: normal;
  text-align: left;
  font-weight: variables.$font-weight-regular;

  &:hover {
    opacity: 1;
    color: variables.$color-secondary;
  }
}

.button--block {
  width: 100%;
}

.button--working {
  pointer-events: none;

  .spinner {
    margin-left: 8px;
    height: 16px !important;
    width: 16px !important;

    span {
      height: 16px !important;
      width: 16px !important;
    }
  }
}

.app__content {
  .no-arrow {
    display: none;
  }

  .tooltip {
    background: #f8f8fa;
    opacity: 1;
    color: #0C0A3E;
    padding: 2px 8px;
    font-family: variables.$font-family-base;
    font-weight: 600;
    box-shadow: 0 0 10px 0 #0000007a;
    border-radius: 4px;
    white-space: break-spaces;
    word-break: break-all;
    max-width: 335px;
    z-index: variables.$z-index-tooltip;
  }
}