.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 10px;
  font-weight: $font-weight-semibold;
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
  border: none;
  cursor: pointer;

  &--icon {
    padding: 0;

    &:hover {
      opacity: 1 !important;

      svg, path, g {
        fill: $color-primary;
      }
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.button--small {
    height: 30px;
  }

  &.button--x-small {
    height: 20px;
    font-size: 14px;
    padding: 6px;
  }

  &.is--bordered {
    border-radius: 4px;
    padding: 8px 16px;
  }
}

.button__group {
  width: 100%;
  display: flex;

  button {
    margin-right: 8px;

    &.button--block {
      width: calc(50% - 4px);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.button--primary {
  background-color: $color-primary;
  color: $color-blue;

  &.is--active {
    background-color: $color-blue;
  }

  &:hover {
    opacity: 1;
    background: $color-primary--hover;
    color: $color-white;

    &.is--active {
      background-color: $color-blue;
    }
  }
}

.button--secondary {
  color: $color-light;
  background-color: $color-secondary;

  &.is--active {
    background-color: $color-blue;
  }

  &:hover {
    opacity: 1;
    background-color: $color-blue;
    box-shadow: none;
    color: white;

    &.is--active {
      background-color: $color-blue;
    }
  }
}

.button--third {
  color: currentColor;
  background-color: $color-blue;

  &:hover {
    opacity: 1;
    background-color: $color-secondary;
    box-shadow: none;
    color: white;

    &.is--active {
      background-color: $color-blue;
    }
  }
}

.button--link {
  background: transparent;
  color: $color-link;
  font-size: 16px;
  height: auto;
  padding: 0;
  white-space: normal;
  text-align: left;
  font-weight: $font-weight-regular;
  text-decoration: underline;

  &:hover {
    opacity: 1;
    color: $color-link;
  }
}

.button--block {
  width: 100%;
}

.button--working {
  pointer-events: none;

  .spinner {
    margin-left: 8px;
    > div {
      height: 16px !important;
      width: 16px !important;
    }
  }
}
