.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 10px;
  font-weight: $font-weight-semibold;
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
  border: none;
  cursor: pointer;
  border-radius: 6px;

  &:active {
    transform: scale(.9);
  }

  &--icon {
    padding: 0;

    &:hover {
      opacity: .7;

      .profile-ico {
        circle:first-child {
          fill: $color-white;
        }
        circle {
          fill: $color-secondary-op;
        }
      }
    }

    &:active {
      transform: scale(.9);
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.button--small {
    height: 30px;
  }

  &.button--x-small {
    height: 20px;
    font-size: 14px;
    padding: 6px;
  }

  &.is--bordered {
    border-radius: 4px;
    padding: 8px 16px;
  }
}

.button__group {
  width: 100%;
  display: flex;

  button {
    margin-right: 8px;

    &.button--block {
      width: calc(50% - 4px);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.button--primary {
  background-color: $color-primary;
  color: $color-blue;

  &.is--active {
    background-color: $color-blue;
  }

  &:hover {
    opacity: 1;
    background: $color-primary--hover;
    color: $color-white;

    &.is--active {
      background-color: $color-blue;
    }
  }
}

.button--secondary {
  color: $color-light;
  background-color: $color-secondary;

  &.is--active {
    background-color: $color-blue;
  }

  &:hover {
    opacity: 1;
    background-color: $color-blue;
    box-shadow: none;
    color: white;

    &.is--active {
      background-color: $color-blue;
    }
  }
}

.button--third {
  color: currentColor;
  background-color: $color-blue;

  &:hover {
    opacity: 1;
    background-color: $color-secondary;
    box-shadow: none;
    color: white;

    &.is--active {
      background-color: $color-blue;
    }
  }
}

.button--link {
  background: transparent;
  color: $color-link;
  height: auto;
  padding: 0;
  white-space: normal;
  text-align: left;
  font-weight: $font-weight-regular;

  &:hover {
    opacity: 1;
    color: $color-secondary;
  }
}

.button--block {
  width: 100%;
}

.button--working {
  pointer-events: none;

  .spinner {
    margin-left: 8px;
    height: 16px !important;
    width: 16px !important;

    span {
      height: 16px !important;
      width: 16px !important;
    }
  }
}

.app__content {
  .no-arrow {
    display: none;
  }

  .react-tooltip {
    background: #f8f8fa;
    opacity: 1;
    color: #0C0A3E;
    padding: 2px 8px;
    font-family: "grotesk";
    border-radius: 0;
    font-weight: 600;
    box-shadow: 0 0 10px 0 #0000007a;
    border-radius: 4px;
  }
}
