.form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: auto;
  width: 100%;
}


.form-header,
.form-footer {
  flex: 0 0 auto;
}

.form-header {
  align-items: center;
  border-radius: 0.625em 0.625em 0 0;
  display: flex;
  justify-content: space-between;
  min-height: 4em;
  padding: 0 0 0 1.5em;
}

.form-content {
  flex: 1 1 100%;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 32px;
}

.select-input-group {
  display: flex;
  align-items: flex-end;

  .select__inner {
    padding: 9px 12px;
    border-radius: 4px 0 0 4px;
    min-width: 180px;

    &::after {
      position: absolute;
      right: 0;
      height: 70%;
      width: 2px;
      background-color: $color-blue;
      content: '';
    }
  }

  .textfield__input {
    border-radius: 0 4px 4px 0;
  }
}