.actions {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  width: 100%;
  min-width: 375px;
  max-width: 375px;
  max-height: 600px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  pointer-events: none;
  z-index: 2;
  user-select: none;
  opacity: 0;
  z-index: $z-index-actions;
  background: $bg-radial-gradient;

  &.actions--transfer {
    background: $color-white;
  }

  &.actions--transfer {
    top: unset;
  }

  &.is-visible {
    pointer-events: all;
    user-select: initial;
    opacity: 1;
  }

  &__header {
    padding: 24px 48px 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;




    .btn__back {
      position: absolute;
      left: 8px;
      top: 16px;
      padding: 8px;
      box-sizing: border-box;
      transition: all $main-transition-duration;
      cursor: pointer;

      svg {
        transform: rotate(180deg);

        path {
          fill: $color-white;

          .actions--transfer & {
            fill: $color-blue;
          }
        }

        .actions--transfer & {
          transform: rotate(90deg);
        }
      }

      .actions--transfer & {
        background-color: $color-light;
        right: 0;
        top: 0;
        left: unset;
      }

      &:hover {
        opacity: 1;

        .actions--transfer & {
          background-color: $color-primary;
        }

        svg path {
          fill: $color-primary;

          .actions--transfer & {
            fill: $color-white;
          }
        }
      }

      svg {
        transition: all $main-transition-duration;

        * {
          fill: $color-blue;
        }
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 100%;
    word-break: break-word;

    .actions--transfer & {
      color: $color-blue;
    }
  }

  &__view {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;
    flex-direction: column;

    .form {
      height: 100%;

      &-footer {
        margin-top: auto;
      }
    }
  }
}

.import-account {
  width: 100%;

  form {
    height: 282px;
  }

  button {
    min-width: 112px;
  }
}

.account__view {
  width: 100%;
  height: 100%;

  .account {
    padding: 20px 0 16px;
    width: 100%;
    border-bottom: 1px solid $color-light;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all $main-transition-duration;
    position: relative;

    &:hover {
      opacity: .7;
    }

    &__item {
      position: relative;

      &-name {
        width: 80%;
      }

      &-id {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:first-child {
        padding-right: 10px;
      }

      &:last-of-type {
        padding-left: 10px;
        padding-right: 32px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
      }

      &--active {
        position: absolute;
        right: 0px;
      }
    }

    &__menu {
      &-item {
        position: relative;
        display: flex;
        padding: 12px 0;
        width: 100%;
        transition: all $main-transition-duration;
        cursor: pointer;
        align-items: center;

        &:hover {
          opacity: .7;
          transform: scale(1.02);
        }

        &::after {
          position: absolute;
          right: 0px;
          transform: rotate(270deg);
          content: url("./../images/arrow.svg");
        }

        &-icon {
          padding-right: 10px;
        }
      }
    }
  }
}

.asset-details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  &__info {
    background: $color-secondary;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    padding: 12px;

    .button {
      flex: 1 1 auto;
      margin-top: 16px;
    }

    &--item {
      display: flex;
      gap: 8px;
      border-bottom: 1px solid white;
      padding: 6px 0;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__key {
    display: flex;
    align-items: center;

    button.button--icon {
      background-color: $color-primary;
      padding: 6px;
      height: 24px;
      width: 24px;
      display: flex;

      &:hover {
        background-color: rgba($color-primary, .7);

        path {
          fill: $color-white;
        }
      }
    }
  }

  &__content {
    width: 100%;
    height: 312px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 24px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #0C0A3E;

    &.is-empty {
      background-color: $color-white;
      width: 200px;
      height: 200px;
      overflow: hidden;
      padding: 0 24px;
      margin: 0 auto 32px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      box-sizing: border-box;
      overflow: hidden;
    }
  }

  &__actions {
    display: flex;
    gap: 8px;

    .button {
      flex: 1 1 auto;

      &:hover {

        svg,
        path,
        g {
          fill: $color-white;
        }
      }
    }
  }
}