.actions {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 375px;
  max-width: 375px;
  min-height: 600px;
  max-height: 600px;
  background-color: $color-secondary-op;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(100%);
  pointer-events: none;
  transition: transform $main-transition-duration 0s, opacity 0s $main-transition-duration;
  z-index: 2;
  user-select: none;
  opacity: 0;

  &.is-visible {
    transform: translateX(0);
    pointer-events: all;
    user-select: initial;
    opacity: 1;
    transition: transform $main-transition-duration 0s, opacity 0s 0s;
  }

  &__header {
    padding: 23px 48px;
    background: $color-body-background;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    svg {
      transform: rotate(90deg);
      width: 20px;
      height: 20px;
    }

    .back-btn {
      position: absolute;
      left: 24px;

      svg {
        transform: rotate(0deg);
        fill: $color-primary;
      }

      &:hover {
        svg {
          fill: $color-white;
        }
      }
    }

    .btn__back {
      position: absolute;
      left: 24px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 100%;
    word-break: break-word;
  }

  &__view {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;

    .form {
      height: 100%;

      &-footer {
        margin-top: auto;
      }
    }
  }
}

.import-account {
  width: 100%;

  form {
    height: 282px;
  }

  button {
    min-width: 112px;
  }
}

.account__view {
  width: 100%;
  height: 100%;

  .account {
    padding: 20px 0 16px;
    width: 100%;
    border-bottom: 1px solid $color-light;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all $main-transition-duration;
    position: relative;

    &:hover {
      opacity: .7;
    }

    &__item {
      position: relative;

      &-name {
        width: 80%;
      }

      &-id {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:first-child {
        padding-right: 10px;
      }

      &:last-of-type {
        padding-left: 10px;
        padding-right: 32px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
      }

      &--active {
        position: absolute;
        right: 0px;
      }
    }

    &__menu {
      &-item {
        position: relative;
        display: flex;
        padding: 12px 0;
        width: 100%;
        transition: all $main-transition-duration;
        cursor: pointer;
        align-items: center;

        &:hover {
          opacity: .7;
          transform: scale(1.02);
        }

        &::after {
          position: absolute;
          right: 0px;
          transform: rotate(270deg);
          content: url("./../images/arrow.svg");
        }

        &-icon {
          padding-right: 10px;
        }
      }
    }
  }
}