@use '../../css/variables';

.select__popover-wrap {
  position: absolute;
  inset: 0;
  height: 100%;
  min-width: 375px;
  max-width: 375px;
  max-height: 667px;
  background: #0c0a3eb7;
  display: flex;
  z-index: 100;
  overflow: auto;
  transition: opacity variables.$main-transition-duration;
  transform: translateY(100%);
  user-select: none;
  align-items: flex-end;
  opacity: 0;

  &--open {
    transform: translateY(0);
    user-select: initial;
    opacity: 1;
  }
}

.select__popover {
  background-color: variables.$color-white;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #0C0A3E;
  width: 100%;
  padding-bottom: 40px;
  z-index: 101;

  .MuiTypography-root.MuiFormControlLabel-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: variables.$font-family-base;
  }
}

.select__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid variables.$color-secondary;
  cursor: pointer;
  transition: all variables.$main-transition-duration;
  max-height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;

  &:hover,
  &--active {
    background: variables.$color-light;
  }

  &--hidden {
    max-height: 0;
    padding: 0 12px;
    border-bottom: none;
  }
}

.select__popover-checkbox {
  margin: 0 24px;
  padding: 8px 0;
  border-bottom: 1px solid variables.$color-secondary;

  svg {
    color: #0C0A3E;
  }
}

.select__popover-header {
  padding: 16px 24px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  border-bottom: 1px solid variables.$color-secondary;

  svg {
    cursor: pointer;
    transition: all variables.$main-transition-duration;

    &:hover {
      opacity: .7;
    }
  }
}

.select__popover-footer {
  padding: 16px 24px 8px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.select__popover-test-networks {
  font-size: 14px;
  line-height: 18px;
  padding: 24px 0 16px;
  margin: 0 24px;
  font-weight: bold;
  border-bottom: 1px solid variables.$color-secondary;
  overflow: hidden;
  transition: all variables.$main-transition-duration;
  max-height: 58px;
  text-overflow: ellipsis;
}

.select__popover-test-networks.select__popover-test-networks--hidden {
  max-height: 0;
  padding: 0;
  border-bottom: none;
}