.select__inner {
  border: 0;
  width: 100%;
  border-radius: 0;
  background: transparent;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #EEEDFC;
  padding: 12px;
  background-color: #4E3EB6;
  border-radius: 4px;
}


.select__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #EEEDFC;
  white-space: nowrap;
  margin-right: auto;
  text-align: left;
  padding: 4px 0 8px;
}

.select__control {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  min-height: 2px !important;
  width: 100%;
  cursor: pointer !important;
}

.select__value-container {
  flex-direction: column;
  padding: 0 !important;
}

.select__single-value {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-light !important;
}

.select__menu {
  color: $color-light !important;
}

.select__indicator {
  opacity: 1 !important;
  padding: 0 !important;

  svg {
    fill: $color-light !important;
  }

  .select__control--is-disabled & {
    display: none;
  }
}

.form .select__option {
  cursor: pointer;
  background-color: $color-body-background;
  border-bottom: 1px solid $color-light;
  padding: 20px 12px 16px;
  transition: all .3s;
  text-align: center;
  margin: 0;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $color-secondary;
  }
}

.select__menu {
  margin-left: -12px;
}

.select__menu-list {
  padding: 0 !important;
  border-radius: 4px;
  overflow: hidden;
}

.select__error {
  padding: 8px 0;
  color: $color-yellow;
  display: block;
}