.select__inner {
  border: 0;
  width: 100%;
  background: transparent;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 14px;
  display: flex;
  align-items: center;
  color: $color-white;
  background-color: $bg-input;

  .form--light & {
    color: $color-blue;
    background-color: $color-light;
  }
}


.select__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-white;
  white-space: nowrap;
  margin-right: auto;
  text-align: left;
  padding: 4px 0 8px;

  .form--light & {
    color: $color-blue;
  }
}

.select__control {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  min-height: 2px !important;
  width: 100%;
  cursor: pointer !important;
}

.select__value-container {
  flex-direction: column;
  padding: 0 !important;
}

.select__single-value {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-light !important;

  .form--light & {
    color: $color-blue !important;
    ;
  }
}

.select__menu {
  color: $color-light !important;

  .form--light & {
    color: $color-blue !important;
    ;
  }
}

.select__indicator {
  opacity: 1 !important;
  padding: 0 !important;

  svg {
    fill: $color-light !important;

    .form--light & {
      fill: $color-blue !important;
      ;
    }
  }

  .select__control--is-disabled & {
    display: none;
  }
}

.form .select__option {
  cursor: pointer;
  background-color: $bg-input;
  border-bottom: 1px solid $color-light;
  padding: 20px 12px 16px;
  transition: all $main-transition-duration;
  text-align: center;
  margin: 0;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    opacity: .7;
    background-color: $bg-input;
  }

  .form--light & {
    color: $color-blue;
    background-color: $color-light;
  }
}

.form.form--light .select__option {
  color: $color-blue;
  background-color: $color-light;
  border-bottom: 1px solid $bg-input;

  &:hover {
    opacity: 1;
    background-color: $bg-input;
    color: $color-light;
  }
}

.select__menu {
  margin-left: -12px;
}

.select__menu-list {
  padding: 0 !important;
  overflow: hidden;
}

.select__error {
  padding: 8px 0;
  color: $color-yellow;
  display: block;
}