.bills-list {
  &__proof {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  &__settings {
    background-color: $color-secondary;
    padding: 4px!important;
    border-radius: 4px;
  }

  .btn__refresh {
    svg {
      fill: $color-white;
      transform: rotate(0deg);
      transition: animation 1s linear;
    }

    &:active {
      animation: pulsate 2s ease-in-out infinite;
    }
  }
}