@use '../../../css/variables.scss';

.bills-list {
  &__proof {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  &__settings {
    background-color: variables.$color-secondary;
    padding: 4px!important;
    border-radius: 4px;

    svg {
      min-width: 12px;
    }
  }

  .btn__refresh {
    svg {
      fill: variables.$color-white;
      transform: rotate(0deg);
      transition: animation 1s linear;
    }

    &:active {
      animation: pulsate 2s ease-in-out infinite;
    }
  }

  &__proof--error {
    word-break: break-word;
    max-width: 324px;
  }
}