.bills-list {
  &__proof {
    width: calc(100% - 42px);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  &__settings {
    background-color: $color-secondary;
    padding: 4px!important;
    border-radius: 4px;
  }
}