@use '../../css/variables.scss';

.units {
  padding: 24px;
  width: 100%;
  flex-grow: 1;

  &__key {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    margin-bottom: 32px;

    &__select {
      flex-grow: 1;
      max-width: 62%;
    }

    svg {
      fill: #000000;
      width: 12px;
      height: auto;
    }
  }

  &__unit {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 6px;
    padding: 12px;
    margin: 6px 0;
    width: 100%;
    background-color: #1C194E;
    overflow: hidden;

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-right: 12px;
      border-radius: 50px;
      background-color: #FFFFFF;
      padding: 1px;
      flex-shrink: 0;
    }

    &--text {
      font-weight: 700;
      flex-grow: 1;
      flex-shrink: 0;
      margin-right: 5px;
    }

    &--value {
      flex-grow: 1;
      flex-shrink: 0;
      text-align: right;
    }
  }
}

.units__key__select--key {
  margin-left: 8px;
  color: variables.$color-underpants;
}