.header {
  display: block;
  display: flex;
  height: 72px;
  padding: 24px;
  align-items: center;
  width: 100%;
  background-color: $color-body-background;
  justify-content: space-between;
  border-bottom: 1px solid $color-secondary;

  &__ico {
    display: flex;
    width: 40px;
    height: 40px;
    transition: all .2s;

    a.button.button--icon:hover {
      path {
        fill: white;
      }
    }
  }

  &__select {
    width: 100%;
    padding: 0 32px;

    .select__button {
      width: 100%;
      justify-content: space-between;
      background: $color-secondary;
      padding: 4px 12px;
      border-radius: 4px;
      color: $color-white;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
