@use '../../css/variables.scss';

.navbar {
  display: flex;
  height: 72px;
  padding: 24px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid variables.$color-secondary; /* Add a line below the header */
  margin-bottom: 10px;

  &__ico {
    display: flex;
    fill: variables.$color-primary;
    flex-shrink: 0;
  }

  &__title {
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    margin-right: 24px;
  }
}
