.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-secondary;
  background: linear-gradient(180deg, rgba(12, 10, 62, 0) 0%, #0C0A3E 64.29%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 24px;
  z-index: $z-index-navbar;

  .button--primary {
    padding: 16px;
  }

  &-item {
    font-size: 10px;
    line-height: 16px;
    color: $color-underpants;
    width: 50%;
    text-align: center;
    padding-bottom: 8px;
    padding-top: 4px;
    cursor: pointer;
    transition: all .3;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.active,
    &:hover {
      color: $color-primary;

      svg, path {
        fill: $color-primary
      }
    }
  }
}
