.checkbox {
  display: block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "grotesk";
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 2px;
}

.checkbox input:checked~.checkmark {
  background-color: $color-blue;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked~.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 7px;
  top: 1px;
  width: 6px;
  height: 15px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}