@use './variables';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: variables.$font-family-base;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
picture {
  display: block;
}

html {
  box-sizing: border-box;

  body {
    margin: 0;
    font-family: variables.$font-family-base;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

img,
svg {
  border: 0;
  display: block;
  margin: 0;
  max-width: 100%;
}

button svg {
  user-select: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input,
textarea,
select,
button {
  font: inherit;
}

input,
textarea,
select {
  color: variables.$color-black;
  line-height: 24px;
}

a,
button {
  &::-moz-focus-inner {
    border: 0;
  }
}

button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: variables.$color-primary;
  }

  &:focus {
    outline: none;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

form {
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgb(255 255 255 / 20%);
}

::-webkit-scrollbar-thumb {
  background: variables.$color-blue;
  border: none;
  box-shadow: none;
  border-radius: 0;
  min-height: 40px;
}

a {
  text-decoration: none;
  color: variables.$color-primary;;
  transition: all variables.$main-transition-duration;
  cursor: pointer;

  &:hover {
    color: variables.$color-white;

    svg {
      fill: variables.$color-white;
    }
  }
}
