html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: $font-family-base;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
picture {
  display: block;
}

html {
  box-sizing: border-box;

  body {
    margin: 0;
    font-family: 'grotesk';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

button svg {
  user-select: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input,
textarea,
select,
button {
  font: inherit;
}

input,
textarea,
select {
  color: $color-black;
  line-height: 24px;
}

a,
button {
  &::-moz-focus-inner {
    border: 0;
  }
}

button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $color-primary;
  }

  &:focus {
    outline: none;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

form {
  width: 100%;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-top: 4px solid white;
}

::-webkit-scrollbar-thumb {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  min-height: 40px;
}

a {
  text-decoration: none;
  color: $color-primary;;
  transition: all 300ms;
  cursor: pointer;

  &:hover {
    color: $color-white;
  }
}

img,
svg {
  border: 0;
  display: block;
  margin: 0;
  max-width: 100%;
}
