// Flex

.flex {
  display: flex;

  &-align-c {
    align-items: center;
  }

  &-justify-sb {
    justify-content: space-between;
  }

  &-justify-c {
    justify-content: center;
  }
}

.flex-group-2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;

  &__item {
    margin: 0 16px;
    width: calc(50% - 32px);

    @media (max-width: 760px) {
      width: 100%;
    }
  }
}

// Margins

.m-auto {
  margin: auto;
}

.m-auto-l {
  margin-left: auto;
}

// Paddings

.pad-24 {
  padding: 24px;
}

.pad-24-h {
  padding: 0 24px;
}

.pad-24-v {
  padding: 24px 0;
}

.pad-8-h {
  padding: 0 8px;
}

.pad-8-r {
  padding-right: 8px;
}

// Icons
.icon-wrap {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: $color-light;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Typography

.t-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.t-medium-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.t-medium {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}

.t-regular {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.t-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.t-bold {
  font-weight: bold;
}

// Color

.c-light {
  color: $color-light;
}

.c-primary {
  color: $color-primary;
}

.c-blue {
  color: $color-blue;
}

.f-blue {
  fill: $color-blue;
}

// Widths

.mw-100p {
  max-width: 100%;
}