// Colors
$color-white: #ffffff;
$color-light: #EEEDFC;
$color-underpants: #ACA4E0;
$color-black: #293033;
$color-blue: #0C0A3E;
$color-error: #ff0018;
$color-yellow: #fcb116;
$color-primary: #08E8DE;
$color-primary--hover: #4E3EB6;
$color-secondary: #4E3EB6;
$color-secondary-op: #292078;
$color-link: #08E8DE;
$color-border: #dbdbdb;
$color-body-background: $color-blue;

// Typography
$font-family-base: 'grotesk';
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

$base-font-size: 16px !default;
$font-weight-base: 400 !default;
$font-size-large: 1.1875rem !default;
$font-size-regular: 0.9375rem !default;
$font-size-small: 14px !default;
$font-size-micro: 12px !default;
$text-color-base: $color-black !default;

// Navbar
$navbar-height: 68px;

// Transition times
$main-transition-duration: .2s
