// Colors
$color-white: #fff;
$color-light: #eeedfc;
$color-underpants: #aca4e0;
$color-black: #293033;
$color-blue: #0c0a3e;
$color-error: #ef476f;
$color-yellow: #fcb116;
$color-primary: #08e8de;
$color-primary-hover: #4e3eb6;
$color-secondary: #4e3eb6;
$color-secondary-op: #292078;
$color-link: #08e8de;
$color-border: #eeedfc;
$color-body-background: $color-blue;
$color-overlay: rgba($color-blue, 0.4);
$color-border-light: rgba($color-white, 0.15);

// Typography
$font-family-base: 'grotesk';
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;
$base-font-size: 16px !default;
$font-weight-base: 400 !default;
$font-size-large: 1.1875rem !default;
$font-size-regular: 0.9375rem !default;
$font-size-small: 14px !default;
$font-size-micro: 12px !default;
$text-color-base: $color-black !default;

// Navbar
$navbar-height: 68px;

// Transition times
$main-transition-duration: 0.2s;

// z-indexes
$z-index-tooltip: 100;
$z-index-reclaim: 99;
