@use './fonts';
@use './variables';
@use './utils';
@use './reset';
@use '../components/Button/Button';
@use '../components/Footer/Footer';
@use '../components/Form/Form';
@use '../components/Header/Header';
@use '../components/InputField/InputField';
@use '../components/SelectPopover/SelectPopover';
@use '../components/Loading/Loading';
@use '../components/SelectBox/SelectBox';
@use '../components/ErrorNotification/ErrorNotification';
@use '../routes/Login/Login';
@use '../routes/CreateWallet/CreateWallet';
@use '../routes/TokenList/TokenList';
@use '../routes/Fees/Fees';

.app {
  min-width: 375px;
  max-width: 375px;
  min-height: 667px;
  max-height: 667px;
  background-color: variables.$color-body-background;
  color: variables.$color-white;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden auto;
    box-sizing: border-box
  }

  &__background {
      position: absolute;
      background-color: variables.$color-secondary;
      border-radius: 50%;
      opacity: 0.7;
      z-index: 0;
  }

  h1 {
    font-weight: 400;
    font-size: 56px;
    line-height: 72px;
  }

  h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
  }

  h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
}