@use './fonts.scss';
@use './variables.scss';
@use './utils.scss';
@use './reset.scss';

@use '../actionViews/Actions.scss';
@use '../actionViews/components/BillsList/BillsList.scss';
@use '../components/Popup/Popup.scss';
@use '../components/Animations/Animations.scss';
@use '../components/Button/Button.scss';

@use '../components/AssetCard/AssetCard.scss';
@use '../components/FeeCredit/FeeCreditCard/FeeCreditCard.scss';
@use '../components/FeeCredit/FeeCreditSection.scss';
@use '../components/AssetCard/AssetCardIcon/AssetCardIcon.scss';
@use '../components/AssetsList/AssetsList.scss';
@use '../components/Form/Form.scss';
@use '../components/Checkbox/Checkbox.scss';
@use '../components/Header/Header.scss';
@use '../components/Select/Select.scss';
@use '../components/Spacer/Spacer.scss';
@use '../components/Spinner/Spinner.scss';
@use '../components/InputField/InputField';
@use '../components/Dashboard/Dashboard.scss';
@use '../components/SelectPopover/SelectPopover.scss';
@use '../components/Alert/Alert.scss';
@use '../components/ToolBar/ToolBar.scss';

@use '../routes/Login/Login.scss';

.app {
  min-width: 375px;
  max-width: 375px;
  min-height: 667px;
  max-height: 667px;
  background-color: variables.$color-body-background;
  color: variables.$color-white;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box
  }

  &__background {
      position: absolute;
      background-color: variables.$color-secondary;
      border-radius: 50%;
      opacity: 0.7;
      z-index: 0;
  }

  &__background-top {
    @extend .app__background;
    top: -27px;
    left: 148px;
    width: 385px;
    height: 385px;
    filter: blur(120px);
 }

 &__background-bottom {
    @extend .app__background;
    top: 311px;
    left: -161px;
    width: 347px;
    height: 347px;
    filter: blur(120px);
 }

  h1 {
    font-weight: 400;
    font-size: 56px;
    line-height: 72px;
  }

  h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
  }

  h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
}