@font-face {
  font-family: grotesk;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/SpaceGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: grotesk;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: grotesk;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/SpaceGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: grotesk;
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: grotesk;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/SpaceGrotesk-Bold.ttf") format("truetype");
}