.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $color-blue;
  padding-bottom: 80px;

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: calc(100% - 90px);

    button {
      min-width: calc(50% - 54px);
      margin: 4px;
      flex: 1 1 auto;
      max-width: calc(100% - 98px);

      &:hover {

        svg,
        path,
        g {
          fill: $color-white;
        }
      }

      svg {
        fill: $color-blue;
      }
    }
  }

  .select__options {
    overflow: auto;
    max-height: 560px;
  }

  .select__popover {
    padding-bottom: 0;
  }

  .select__popover-header {
    padding: 12px 24px;
  }

  .fee-credit-button {
    color: $color-primary;
    margin-left: auto;

    * {
      fill: $color-primary;
    }
  }
}