.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $color-secondary-op;

  &__account {
    min-width: 278px;
    justify-content: space-between;
    background: $color-secondary;
    padding: 8px 12px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin: 0 24px;
    max-width: calc(100% - 98px);
    display: flex;
    align-items: center;

    &-id {
      display: flex;
      align-items: center;
      max-width: 197px;
      white-space: pre;

      &-item {
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1 0 0;
      }
    }

    &-name {
      max-width: 178px;
      display: flex;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 4px;
    }

    &-buttons {
      min-width: 50px;
      display: flex;
      flex: 1 1 auto;
      margin-left: 8px;
      z-index: 1;

      button {
        background-color: $color-blue;
        padding: 4px;
        border-radius: 4px;

        &.copy-btn {
          margin-right: 8px;
        }
      }
    }

    &-options {
      position: absolute;
      top: 24px;
      right: -24px;
      background-color: $color-body-background;
      border-radius: 4px;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    &-option {
      cursor: pointer;
      border-bottom: 1px solid $color-light;
      padding: 8px 12px;
      color: $color-light;
      transition: all $main-transition-duration;
      text-align: center;
      white-space: nowrap;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: $color-secondary;
      }
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: calc(100% - 90px);

    button {
      min-width: calc(50% - 54px);
      margin: 4px;
      flex: 1 1 auto;
      max-width: calc(100% - 98px);

      &:hover {
        svg {
          fill: $color-white;
        }
      }

      svg {
        fill: $color-blue;
      }
    }
  }

  &__footer {
    margin-top: auto;
    width: 100%;
  }

  &__balance {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 8px;

    &-amount {
      font-weight: 400;
      font-size: 56px;
      line-height: 28px;
      padding-right: 8px;
      word-break: break-all;

      &.small {
        font-size: 40px;
      }

      &.x-small {
        font-size: 28px;
      }
    }

    &-id {
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;

      &.small, &.x-small {
        font-size: 18px;
      }
    }
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-secondary;

    &-item {
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: $color-underpants;
      width: 100%;
      text-align: center;
      padding-bottom: 12px;
      cursor: pointer;
      transition: all .3;

      &.active,
      &:hover {
        color: $color-light;
        border-bottom: 2px solid $color-link;
      }
    }
  }

  &__info {
    background-color: $color-body-background;
    min-height: 230px;
    position: relative;

    &-col {
      overflow: auto;
      opacity: 0;
      transition: all $main-transition-duration;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      pointer-events: none;

      &.relative {
        position: relative;
      }

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    &-item {
      &-wrap {
        padding: 20px 0 16px;
        margin: 0 24px;
        display: flex;
        border-bottom: 1px solid $color-secondary;
        display: flex;
        align-items: center;

        &.small {
          padding: 0;
          align-items: baseline;
        }
      }

      &-icon {
        padding-right: 10px;

        .ab-logo svg,
        .ab-logo path {
          fill: $color-secondary;
          width: 18px;
          margin-right: -2px;
        }

        .receive {
          transform: rotate(180deg);
        }
      }

      &-type {
        margin-right: auto;
        padding-right: 10px;
        max-width: 76%;
      }

      &-amount {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      &-bill {
        overflow: auto;
      }
    }
  }
}