.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $color-blue;

  &__account {
    min-width: 278px;
    justify-content: space-between;
    background: $color-secondary;
    padding: 8px 12px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin: 0 24px;
    max-width: calc(100% - 98px);
    display: flex;
    align-items: center;

    &-id {
      display: flex;
      align-items: center;
      max-width: 227px;
      white-space: pre;
      cursor: pointer;

      &:hover {
        opacity: .7;
      }

      &-item {
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1 0 0;
      }
    }

    &-name {
      max-width: 178px;
      display: flex;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 4px;
    }

    &-buttons {
      button {
        background-color: $color-blue;
        padding: 4px;
        border-radius: 4px;
      }
    }

    &-options {
      position: absolute;
      top: 24px;
      right: -24px;
      background-color: $color-body-background;
      border-radius: 4px;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    &-option {
      cursor: pointer;
      border-bottom: 1px solid $color-light;
      padding: 8px 12px;
      color: $color-light;
      transition: all $main-transition-duration;
      text-align: center;
      white-space: nowrap;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: $color-secondary;
      }
    }
  }

  .accounts {
    .account__item.account__item-name {
      max-width: 265px;
      padding-left: 16px;
      margin-right: auto;
    }

    .form {
      flex-direction: row;
      gap: 8px;
      border: 1px solid;
      border-radius: 4px;
      padding-right: 8px;

      .textfield__input {
        background-color: $color-white;
        color: $color-blue;
      }

      .form-footer {
        padding-top: 12px;

        svg {
          background: $color-blue;
          border-radius: 50%;
          padding: 4px;
          min-width: 20px;
          min-height: 20px;
          fill: $color-white;
          stroke: $color-white;

          &.cancel {
            background: $color-error;
            stroke: transparent;
          }

          &:hover {
            opacity: .7;
          }

          path {
            fill: $color-white;
          }
        }

      }
    }


    .select__option-wrap {
      display: flex;
      position: relative;
      align-items: center;

      .select__option {
        max-height: unset;
      }

      .edit-ico {
        position: absolute;
        right: 20px;
        cursor: pointer;
        z-index: 1;

        &:hover {
          opacity: .7;
        }
      }

      &.selected {
        background-color: $color-secondary;
        color: $color-white;

        &:hover {
          color: $color-white;

          .edit-ico path {
            stroke: $color-white;
          }
        }

        .select__option:hover {
          background-color: $color-secondary;
          color: $color-white;
        }

        .edit-ico path {
          stroke: $color-white;
        }
      }

      .edit-ico path {
        stroke: $color-blue;
      }
    }


    .add-key {
      display: flex;
      padding: 16px 24px;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
      gap: 8px;
      align-items: center;
      cursor: pointer;
      transition: all .3 ease;

      &:hover {
        opacity: .7;
      }

      path {
        fill: $color-secondary;
      }
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: calc(100% - 90px);

    button {
      min-width: calc(50% - 54px);
      margin: 4px;
      flex: 1 1 auto;
      max-width: calc(100% - 98px);

      &:hover {
        svg,
        path,
        g {
          fill: $color-white;
        }
      }

      svg {
        fill: $color-blue;
      }
    }
  }

  &__footer {
    margin-top: auto;
    width: 100%;
  }

  &__balance {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 8px;

    &-amount {
      font-weight: 400;
      font-size: 56px;
      line-height: 28px;
      padding-right: 8px;
      word-break: break-all;

      &.small {
        font-size: 40px;
      }

      &.x-small {
        font-size: 28px;
      }
    }

    &-id {
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      max-width: 300px;
      padding: 8px;

      &.small,
      &.x-small {
        font-size: 18px;
      }
    }
  }

  &__info {
    background-color: $color-body-background;
    min-height: 230px;
    position: relative;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-secondary;

  &-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: $color-underpants;
    width: 50%;
    text-align: center;
    padding-bottom: 12px;
    cursor: pointer;
    transition: all .3;

    &.active,
    &:hover {
      color: $color-light;
      border-bottom: 2px solid $color-link;
    }
  }
}