@use '../../css/variables';

.footer {
  padding: 6px 0;
  width: 100%;
  display: flex; /* Arrange items in a row */
  justify-content: center; /* Center items horizontally */
  gap: 15%; /* Add spacing between buttons */
  border-top: 1px solid variables.$color-secondary; /* Add a line above the footer */

  .active {
    stroke: variables.$color-primary;
    stroke-width: 0.5px;
  }
}
