.textfield {
  display: flex;
  flex-direction: column;

  &:last-child {
    border-bottom: none;
  }

  .form--dark & {
    border-bottom: none;
  }
}

.textfield__input {
  width: 100%;
  border: 0;
  border-radius: 0;
  background: transparent;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: $color-light;
  padding: 12px;
  background-color: $color-secondary;
  border-radius: 4px;

  &:focus {
    outline: 0;
  }

  .textfield--hidden-password & {
    -webkit-text-security: disc;
  }

  .textfield--transparent & {
    opacity: 0;
  }

  .form--dark & {
    color: $color-primary;
    text-align: right;

    &:read-only {
      color: $color-white;
    }
  }
}

.textfield__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-light;
  white-space: nowrap;
  margin-right: auto;
  text-align: left;
  padding: 4px 0;
}

.textfield__inner {

}

.textfield__error {
  padding: 8px 0;
  color: $color-yellow;

  .form--dark & {
    align-self: flex-end;
  }
}
