.fees {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  &--loading {
    flex-grow: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &--error {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    padding: 24px;
  }
}

.select__option--text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}