.fees {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;

  &__content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 24px;
    flex-grow: 1;
  }

  &--loading {
    flex-grow: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &--error {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.select__option--text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}