.login {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  &__footer {
    margin-top: auto;
    width: 100%;
  }
}